body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f1ede7;
}
    header {
        background-color: #2C3D4F;
        color: white;
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 2;
    }

    header a{
        text-decoration: none;
        color: inherit;
    }
    header img {
        border-radius: 40px;
        height: 90px;
        width: 78px;
    }

    nav {
        background-color: #354A5F;
        margin-left: auto;

    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: center;
        padding-top: auto;
    }
    nav ul li {
        position: relative;
        margin: 0 15px;   
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 12px;
        display: block;
    }
    nav ul li a:hover {
        background-color: rgb(54, 48, 90);
        border-radius: 5px;
    }
    nav ul li ul {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        background-color: black;
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 5px;
    }
    nav ul li ul li {
        margin: 0;
        width: 150px;
    }
    nav ul li ul li a {
        padding: 10px;
        font-weight: normal;
    }
    nav ul li:hover ul {
        display: block;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
    }

    .profile-photo {
        flex: 1;
        min-width: 250px;
        text-align: center;
        padding: 10px;
        animation: k1 ease 2s;
        display: block;
        position: relative;
    }
    @keyframes k1 {
        0%{left: -1500px;}
        50%{left: 30px;}
        100%{left: 0px;}
        }
    .k2 {
        animation: k1 ease 2s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
        display: block;
        position: relative;
    }
    .k3 {
        animation: k1 ease 2s;
        animation-delay: 2s;
        animation-fill-mode: backwards;
        display: block;
        position: relative;
    }
    .k4 {
        animation: k1 ease 2s;
        animation-delay: 3s;
        animation-fill-mode: backwards;
        display: block;
        position: relative;
    }
    .k5 {
        animation: k1 ease 2s;
        animation-delay: 4s;
        animation-fill-mode: backwards;
        display: block;
        position: relative;
    }
    .k6 {
        animation: k1 ease 2s;
        animation-delay: 5s;
        animation-fill-mode: backwards;
        display: block;
        position: relative;
    }
    .k7 {
        animation: k1 ease 2s;
        animation-delay: 6s;
        animation-fill-mode: backwards;
        display: block;
        position: relative;
    }


    .profile-photo img {
        width: 100%;
        max-width: 250px;
        border-radius: 10px;
    }

    .profile-info {
        flex: 2;
        min-width: 300px;
        padding: 20px;
        padding-left: 50px;
        border-left:1px #555 solid;
    }


    main h2 {
        color: #333;
        text-decoration: underline;
    }

    main h3, h4 {
        color: #c99b1d;
        margin-bottom: 10px;
    }

    main p, li {
        color: #555;
        line-height: 1.5;
    }

    ul {
        margin: 0 0 20px 20px;
    }

    main a {
        text-decoration: none;
        display: inline-block;
        transition: all linear 0.2s;
        color: black;
    }

    main a:hover {
        transform: scale(1.05);
        text-decoration: underline;
        color: rgb(27, 23, 247);
    }

    aside {
        background-color: #DB9B15;
        padding: 20px;
        color: white;
        line-height: 20px;
        margin-bottom: 5px;
    }

    footer {
        background-color: #2C3D4F;
        color: white;
        padding: 15px;
        text-align: center;
    }