body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #F8F9FB;
}
    header {
        background-color: #2C3D4F;
        color: white;
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 2;
    }

    header a{
        text-decoration: none;
        color: inherit;
    }

    header img {
        border-radius: 40px;
        height: 90px;
    }

    nav {
        background-color: #354A5F;
        margin-left: auto;

    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: center;
        padding-top: auto;
    }
    nav ul li {
        position: relative;
        margin: 0 15px;   
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 12px;
        display: block;
    }
    nav ul li a:hover {
        background-color: rgb(54, 48, 90);
        border-radius: 5px;
    }
    nav ul li ul {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        background-color: black;
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 5px;
    }
    nav ul li ul li {
        margin: 0;
        width: 150px;
    }
    nav ul li ul li a {
        padding: 10px;
        font-weight: normal;
    }
    nav ul li:hover ul {
        display: block;
    }

    .banner {
    position: relative;
    overflow: hidden;
    height: 400px;              
    display: flex;
    align-items: center;
    justify-content: center; 
    animation: kkanan ease 1.8s;
    }

    @keyframes kkanan {
        0%{
            opacity: 0;
            left: -1500px;
        }
        100%{
            opacity: 1;
            left: 0;
        }
    }

    .banner_img {
        position: absolute;
        inset: 0;                   
        width: 100%;
        height: 100%;
        object-fit: cover;          
        display: block;
        z-index: 1;
    }

    .banner_h1 {
        z-index: 2;                 
        color: white;
        font-size: 2rem;
        text-shadow: 0 2px 6px rgba(0,0,0,0.6);
        margin: 0;
        padding: 0 16px;
        text-align: center;
        animation: gerakbanner 6s;
        transition: all linear 0.3s;
        position: relative;
    }

    @keyframes gerakbanner{
        0%{
            bottom:-100px;
        }
        100%{
            bottom:0px;
        }
    }

    .banner_h1:hover {
        color: brown;
        text-shadow: 5px 5px 5px black;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        padding: 40px 20px;
        flex-wrap: wrap;
        background: #f8f9fb;
        align-items: stretch;
    }

    .sec {
        background: #F8F9FB;
        border-radius: 10px;
        padding: 20px 25px;
        flex: 1 1 400px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .sec:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    }


    .sec article {
        background: #f3f6f7;
        border: 1px solid #d0d0d0;
        border-radius: 8px;
        padding: 15px;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s ease, background 0.2s ease;
    }

    .sec article:hover {
        transform: scale(1.03);
        background: #e9eef2;
    }

    .sec h2 {
        border-bottom: 3px solid #354A5F;
        padding-bottom: 8px;
        margin-bottom: 15px;
        color: #2C3D4F;
        font-size: 1.3em;
    }

    .artikel:hover {
        cursor: pointer;
    }

    .artikel {
    text-decoration: none;
    color: inherit;
    display: block;
    }

    aside {
        background-color: #DB9B15;
        border-radius: 7px;
        margin-top: 6%;
        padding: 20px;
        line-height: 16px;
        color: white;
        height: 100px;
    }

    footer {
        text-align: center;
        background-color: #354A5F;
        color: white;
        padding: 20px;
        margin-top: 1%;
    }

    .sambutan {
        display:flex;
    }
    .div_sambutan:hover {
        transform: translatey(-5px);
        box-shadow: 5px 5px #969696;
    }

    .div_sambutan {
        width: 100%;
        padding: 24px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px grey;
        border: 1px solid grey;
        animation: kkanan ease 1.8s;
        animation-delay: 1.3s;
        animation-fill-mode: backwards;
        position: relative;
        transition: all linear 0.15s;
    }
    .sumber_sambutan {
        font-size: 15px;
        color: grey;
        margin-top:8px;
    }

    .sumber_sambutan a {
        text-decoration: none;
        color: gray;
        display: inline-block;
        transition: all linear 0.2s;
    }

    .sumber_sambutan a:hover {
        color: rgb(69, 112, 255);
        transform: scale(1.02);
        text-decoration: underline;
    }

    .head_sambutan {
        display: flex;
        gap: 60px;
    }

    .head_sambutan img {
        height: 90px;
        border-radius: 80%;
        border: #3f638a 3px solid;
        display: inline-block;
        transition: all linear 0.07s;
    }

    .head_sambutan img:hover {
        transform: scale(1.2);
    }

    .head_sambutan a {
        text-decoration: none;
        color: black;
        display: inline-block;
        transition: all linear 0.12s;
    }
    .head_sambutan a:hover {
        transform: scale(1.02);
        color: #3442ff;
        text-decoration: underline;
    }

    .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    margin: 5px auto;
    padding: 0 10px;
    margin: auto;
    width: 98%;
}

.card {
    display: flex;
    flex-direction: column;
    background: #e0e0e0;
    border-radius: 7px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.08);
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
    max-width: 100%;
    transition: all linear 0.2s;
}
.card:hover {
    transform: scale(1.1);
}

.card h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
    text-align: center;
}

.div_foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.div_foto img {
    width: 100%;
    max-width: 220px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

.section_berita {
    flex: 1 1 100%;
}
.section_berita a {
    text-decoration: none;
    color: inherit;
}

.berita {
    font-size: 21px;
    transition: all linear 0.15s;
    margin: 0;
    margin-left: 20px;
    border-bottom: 2px solid gray;
    width: 170px;
    margin-bottom: 10px;
}

section h3 {
    text-align: left;
}

.berita:hover {
    background-color: rgb(112, 112, 112);
    color: white;
    transform: scale(1.2);
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}